.card img {
    background-color: white;
}

.card:hover {
    border: 3px solid red;
    transform: scale(1.15);
    transition: 1s;
    z-index: 1000;
}

.cursor-pointer {
    cursor: pointer;
}

.card-img-top{
    width: 50%;
    height: 300;
    display: flex;
    align-self: center;
}

/* body {
    background-color: black;
}

h1 {
    color: white;
}

.bg-white {
    background-color: white;
    color: black;
}

.text-dark {
    color: black;
} */

.corfundo {
    background-color: #8a8d8f;

}

.corfundocinza {
    background-color: whitesmoke;
}

.tamanhoImagem {
    width: 32px;
    height: 32px;
}
