.card img {
    background-color: white;
}

.card:hover {
    border: 3px solid red;
    transform: scale(1.15);
    transition: 1s;
    z-index: 1000;
}

.cursor-pointer {
    cursor: pointer;
}

.card-img-top{
    width: 50%;
    height: 50%;
    display: flex;
    align-self: center;
}

.corfundo {
    background-color: #8a8d8f;
}

.corfundocinza {
    background-color: whitesmoke;
}

.tamanhoImagem {
    width: 32px;
    height: 32px;
}