@{
    ViewData["Title"] = "Home Page";
}

<section class="pt-5 pb-3 text-center container">
    <div class="row">
        <div class="col mx-auto">
            <h1>Wiki Genshin</h1>
            <div class="group">
                <button id="btn-all" class="btn btn-md my-2 text-white bg-secondary btn-filter">Ver
                    Todos</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:#FF6640">Pyro</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:#00C0FF">Hydro</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:#32D7A0">Anemo</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:#AF8EC1">Electro</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:#90CC00">Dendro</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:#80FFFF">Cryo</button>
                <button id="btn-aço" class="btn btn-sm my-2 text-white btn-filter"
                    style="background-color:#FFAC00">Geo</button>
            </div>
        </div>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer planta venenoso" onclick="GetInfo(001)">
                    <img src="img/personagens/Amber.jpg" class="card-img-top" width="100%" height="300" alt="Amber" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 01</p>
                        <h3 class="card-title">Amber</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#FF6640">Pyro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer planta venenoso" onclick="GetInfo(002)">
                    <img src="img/personagens/Bennett.jpg" class="card-img-top" width="100%" height="300" alt="Bennett" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 02</p>
                        <h3 class="card-title">Bennett</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#FF6640">Pyro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer planta venenoso" onclick="GetInfo(003)">
                    <img src="img/personagens/Diluc.jpg" class="card-img-top" width="100%" height="300" alt="Diluc" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 03</p>
                        <h3 class="card-title">Diluc</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#FF6640">Pyro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer fogo" onclick="GetInfo(004)">
                    <img src="img/personagens/Hutao.jpg" class="card-img-top" width="100%" height="300" alt="Hutao" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 04</p>
                        <h3 class="card-title">Hutao</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#FF6640">Pyro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer fogo" onclick="GetInfo(005)">
                    <img src="img/personagens/Klee.jpg" class="card-img-top" width="100%" height="300" alt="Klee" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 05</p>
                        <h3 class="card-title">Klee</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#FF6640">Pyro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer fogo voador" onclick="GetInfo(006)">
                    <img src="img/personagens/Candace.jpg" class="card-img-top" width="100%" height="300" alt="Candace" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 06</p>
                        <h3 class="card-title">Candace</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#00C0FF">Hydro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer água" onclick="GetInfo(007)">
                    <img src="img/personagens/Furina.jpg" class="card-img-top" width="100%" height="300" alt="Furina" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 07</p>
                        <h3 class="card-title">Furina</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#00C0FF">Hydro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer água" onclick="GetInfo(8)">
                    <img src="img/personagens/Tartaglia.jpg" class="card-img-top" width="100%" height="300" alt="Tartaglia" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 08</p>
                        <h3 class="card-title">Tartaglia</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#00C0FF">Hydro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer água" onclick="GetInfo(9)">
                    <img src="img/personagens/Yelan.jpg" class="card-img-top" width="100%" height="300" alt="Yelan" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 09</p>
                        <h3 class="card-title">Yelan</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#00C0FF">Hydro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer inseto" onclick="GetInfo(010)">
                    <img src="img/personagens/Xingqiu.jpg" class="card-img-top" width="100%" height="300" alt="Xingqiu" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 10</p>
                        <h3 class="card-title">Xingqiu</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#00C0FF">Hydro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer inseto" onclick="GetInfo(011)">
                    <img src="img/personagens/Jean.jpg" class="card-img-top" width="100%" height="300" alt="Jean" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 11</p>
                        <h3 class="card-title">Jean</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#32D7A0">Anemo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer inseto voador" onclick="GetInfo(012)">
                    <img src="img/personagens/Lynette.jpg" class="card-img-top" width="100%" height="300" alt="Lynette" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 12</p>
                        <h3 class="card-title">Lynette</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#32D7A0">Anemo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

             <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer inseto voador" onclick="GetInfo(013)">
                    <img src="img/personagens/Sucrose.jpg" class="card-img-top" width="100%" height="300" alt="Sucrose" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 13</p>
                        <h3 class="card-title">Sucrose</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#32D7A0">Anemo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

             <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer inseto voador" onclick="GetInfo(014)">
                    <img src="img/personagens/Venti.jpg" class="card-img-top" width="100%" height="300" alt="Venti" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 14</p>
                        <h3 class="card-title">Venti</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#32D7A0">Anemo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

             <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer inseto voador" onclick="GetInfo(015)">
                    <img src="img/personagens/Xiao.jpg" class="card-img-top" width="100%" height="300" alt="Xiao" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 15</p>
                        <h3 class="card-title">Xiao</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#32D7A0">Anemo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

             <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer inseto voador" onclick="GetInfo(016)">
                    <img src="img/personagens/Fischl.jpg" class="card-img-top" width="100%" height="300" alt="Fischl" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 16</p>
                        <h3 class="card-title">Fischl</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#AF8EC1">Electro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

             <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer inseto voador" onclick="GetInfo(017)">
                    <img src="img/personagens/Kuki_Shinobu.jpg" class="card-img-top" width="100%" height="300" alt="Kuki Shinobu" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 17</p>
                        <h3 class="card-title">Kuki Shinobu</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#AF8EC1">Electro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

             <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer inseto voador" onclick="GetInfo(018)">
                    <img src="img/personagens/Lisa.jpg" class="card-img-top" width="100%" height="300" alt="Lynette" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 18</p>
                        <h3 class="card-title">Lisa</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#AF8EC1">Electro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

             <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer inseto voador" onclick="GetInfo(019)">
                    <img src="img/personagens/Raiden.jpg" class="card-img-top" width="100%" height="300" alt="Raiden" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 19</p>
                        <h3 class="card-title">Raiden</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#AF8EC1">Electro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

             <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer inseto voador" onclick="GetInfo(020)">
                    <img src="img/personagens/Yae_Miko.jpg" class="card-img-top" width="100%" height="300" alt="Yae Miko" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 20</p>
                        <h3 class="card-title">Yae Miko</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#AF8EC1">Electro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

             <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer inseto voador" onclick="GetInfo(021)">
                    <img src="img/personagens/Alhaitham.jpg" class="card-img-top" width="100%" height="300" alt="Alhaitham" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 21</p>
                        <h3 class="card-title">Alhaitham</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#90CC00">Dendro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

             <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer inseto voador" onclick="GetInfo(022)">
                    <img src="img/personagens/Baizhu.jpg" class="card-img-top" width="100%" height="300" alt="Baizhu" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 22</p>
                        <h3 class="card-title">Baizhu</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#90CC00">Dendro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

             <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer inseto voador" onclick="GetInfo(023)">
                    <img src="img/personagens/Kirara.jpg" class="card-img-top" width="100%" height="300" alt="Kirara" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 23</p>
                        <h3 class="card-title">Kirara</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#90CC00">Dendro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

             <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer inseto voador" onclick="GetInfo(024)">
                    <img src="img/personagens/Nahida.jpg" class="card-img-top" width="100%" height="300" alt="Nahida" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 24</p>
                        <h3 class="card-title">Nahida</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#90CC00">Dendro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

             <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer inseto voador" onclick="GetInfo(025)">
                    <img src="img/personagens/Yaoyao.jpg" class="card-img-top" width="100%" height="300" alt="Yaoyao" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 25</p>
                        <h3 class="card-title">Yaoyao</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#90CC00">Dendro</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

             <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer inseto voador" onclick="GetInfo(026)">
                    <img src="img/personagens/Eula.jpg" class="card-img-top" width="100%" height="300" alt="Eula" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 26</p>
                        <h3 class="card-title">Eula</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#80FFFF">Cryo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

             <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer inseto voador" onclick="GetInfo(027)">
                    <img src="img/personagens/Kaeya.jpg" class="card-img-top" width="100%" height="300" alt="Kaeya" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 27</p>
                        <h3 class="card-title">Kaeya</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#80FFFF">Cryo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

             <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer inseto voador" onclick="GetInfo(028)">
                    <img src="img/personagens/Kamisato_Ayaka.jpg" class="card-img-top" width="100%" height="300" alt="Kamisato Ayaka" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 28</p>
                        <h3 class="card-title">Kamisato Ayaka</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#80FFFF">Cryo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

             <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer inseto voador" onclick="GetInfo(029)">
                    <img src="img/personagens/Rosaria.jpg" class="card-img-top" width="100%" height="300" alt="Rosaria" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 29</p>
                        <h3 class="card-title">Rosaria</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#80FFFF">Cryo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

             <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer inseto voador" onclick="GetInfo(030)">
                    <img src="img/personagens/Wriothesley.jpg" class="card-img-top" width="100%" height="300" alt="Wriothesley" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 30</p>
                        <h3 class="card-title">Wriothesley</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#80FFFF">Cryo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

             <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer inseto voador" onclick="GetInfo(031)">
                    <img src="img/personagens/Albedo.jpg" class="card-img-top" width="100%" height="300" alt="Albedo" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 31</p>
                        <h3 class="card-title">Albedo</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#FFAC00">Geo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

             <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer inseto voador" onclick="GetInfo(032)">
                    <img src="img/personagens/Gorou.jpg" class="card-img-top" width="100%" height="300" alt="Gorou" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 32</p>
                        <h3 class="card-title">Gorou</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#FFAC00">Geo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

             <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer inseto voador" onclick="GetInfo(033)">
                    <img src="img/personagens/Itto.jpg" class="card-img-top" width="100%" height="300" alt="Itto" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 33</p>
                        <h3 class="card-title">Itto</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#FFAC00">Geo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

             <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer inseto voador" onclick="GetInfo(034)">
                    <img src="img/personagens/Ningguang.jpg" class="card-img-top" width="100%" height="300" alt="Ningguang" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 34</p>
                        <h3 class="card-title">Ningguang</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#FFAC00">Geo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

             <!-- Card Pokemon - Inicio -->
            <div class="col">
                <div class="card shadow-sm cursor-pointer inseto voador" onclick="GetInfo(035)">
                    <img src="img/personagens/Noelle.jpg" class="card-img-top" width="100%" height="300" alt="Noelle" />
                    <div class="card-body">
                        <p class="card-text mb-0">Nº 35</p>
                        <h3 class="card-title">Noelle</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn my-2 text-white" style="background-color:#FFAC00">Geo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Card Pokemon - Fim -->

            <div id="zeroPokemon" class="col-lg-12 text-center" hidden>
                <h1 class="my-3 text-danger">Nenhum Personagem Encontrado</h1>
            </div>
        </div>
    </div>
</div>